.drag {
  width: 200px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  border-style: groove;
  background-color: #e6e0e5;
  color: #27c035;
}

.drop {
  width: 200px;
  height: 30px;
  text-align: center;
  border: 2px #bc8f8f dashed;
  border-radius: 5px;
  margin: 5px;
  opacity: 0.5;
  color: #9da0a4;
}

.place {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.caption {
  padding: 10px;
}