.variants {
  margin-top: 5px;
  padding: 5px;
  flex-direction: column;
}

.variants input[type=text] {
  border: 0px;
}

.checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 2px solid #9aa2a2;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  top: 7px;
}

.checkbox:checked {
  background-color: #27c035;
  border: 2px solid #27c035;
  color: #e6e0e5;
  top: 7px;
}

.checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #f1ebf0;
}


.radio {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 2px solid #9aa2a2;
  padding: 10px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  top: 7px;
  margin-right: 10px;
}

.radio:checked {
  background-color: #e9ecee;
  color: #27c035;
  border: 2px solid #747a7a;
  top: 7px;
}

.radio:checked:after {
  content: ' ';
  width: 14px;
  height: 14px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: #27c035;
  text-shadow: 0px;
  font-size: 32px;
}