body {
  background-color: #f1ebf0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app, .header, .question, .timer, .variants, .finish {
  display: flex;
}

.header, .question, .timer, .variants, .finish {
  background-color: #ffffff;
}

.app {
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
}

.progress {
  background-color: #27c035;
  height: 5px;
}