.finish {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #27c035;
  color: #f1ebf0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.head span {
  width: 70%;
}

.back {
  background-color: #27c035;
  border: 0px;
  font-size: large;
  font-weight: bold;
  color: #f1ebf0;
}

.block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin: 5px;
}

.block span {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.finish img {
  width: 20px;
  float: left;
  margin: 10px;
}

.title {
  color: #aba6aa;
}

.content {
  color: #000;
  font-weight: bold;
}

.answer-right, .answer-wrong {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  width: 60%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.answer-right {
  color: green;
}

.answer-wrong {
  color: red;
}