.header {
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.Nav button, .btnClose {
  background-color: #ffffff;
  border: 0px;
  font-size: large;
  font-weight: bold;
  color: #000000;
}

.Nav button {
  margin-right: 5px;
}

.btnClose {
  color: #ff151f;
}