.question {
  flex-direction: column;
}

.question center {
  background-color: #f1ebf0;
}

.question img {
  padding: 10px;
  max-width: 90%;
  max-height: 50vh;
}

.question p {
  background-color: #ffffff;
  padding: 10px;
}