.timer {
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
}

.timer img {
  width: 20px;
  margin-right: 15px;
}

.timer span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.submit {
  background-color: #27c035;
  border-radius: 2px;
  border: 2px;
  width: 100px;
  height: 30px;
}