.shadow {
  opacity: 0.8;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  background-color: rgba(1, 1, 1, 0.725);
  z-index: 100;
  overflow: auto;
}

.window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  max-width: 80%;
  height: 80%;
  margin: 50px auto;
  background: #fff;
  z-index: 200;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.hide {
  background-color: #e6e0e5;
  color: #27c035;
  font-size: large;
  border: 0px;
  width: 100%;
  height: 50px;
}